# Usaremos, novamente, a base de dados com informações econômicas de países. 
Se você não conseguiu terminar todos os passos de limpeza e preparação da base de dados da ultima aula,importe a base já tratada, abaixo.

In [ ]:
import pandas as pd
url= ('https://github.com/thaissalzer/thaissalzer/blob/0aeff8ad21652a0d060a81323138eb3d02ab56e6/aula8.xlsx?raw=true')
df= pd.read_excel(url)
df.head()

# Encontre os 5 países com maior e os 5 com menor renda per capita (GDP_PC)

# Vamos dividir os países em 5 grupos (quintis), de acordo com seu nível de riqueza

Com base na variável 'GDP_PC' (PIB per capta), divida a base de dados em 5 grupos de países (quintis), lembrando que cada grupo deve conter 20% dos dados:
labels = "pobres", "medio pobres", 'medio', "medio ricos", "ricos".

"Quintil" deve ser o nome da nova variável que contém, como labels, "pobres", "medio pobres", 'medio', "medio ricos", "ricos".

Depois analise as médias de cada variável para cada um desses grupos, separadamente.

# Quais conclusões você pode tirar dos dados?

# Regressão Linear

No exercício da aula sobre Análise de Dados em Alto Desempenho, criamos um dataframe com informações de mulheres, trabalhadoras do mercado formal de trabalho, que utilizaremos nessa aula.

In [1]:
import pandas as pd
url= ('https://github.com/thaissalzer/thaissalzer/blob/9f8739186278cd535fcff5a8f75c3322ec506cfc/mulheres.xlsx?raw=true')
df= pd.read_excel(url)
df.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000

A literatura de economia do trabalho diz que escolaridade e experiência no mesmo emprego (tempo de emprego) são variáveis que explicam o salário do indivíduo. Vamos testar isso nesse exercício.

## Veja a correlação entre as variáveis contínuas do dataframe.


Você vai precisar criar um novo dataframe com as variáveis continuas (rem_dezem,	temp_empr, salario), ou informar, na hora de criar o comando, que quer a correlação apenas de um grupo de variável.

###  O sns.scatterplot() é usado para criar um gráfico de dispersão simples.

Faça um scatterplot com x = temp_empr e y = salario

In [2]:
# importando a biblioteca necessária
import seaborn as sns
import matplotlib.pyplot as plt
# gráfico de dispersão (scatter plot) que relaciona essas duas variáveis
# x='temp_empr', y='salario'
# Crie o gráfico com as dimensões especificadas

### O sns.regplot() também cria um gráfico de dispersão, mas, além disso, ajusta automaticamente uma linha de regressão linear aos dados e a desenha no gráfico.

 Crie um regplot com os mesmos dados usados no gráfico anterior

### Parece haver uma correlação baixa entre as variáveis, correto? 

Faça uma regressão simples com essas variáveis (y= salario e x = temp_empr) e analise seus resultados.

In [ ]:
import pandas as pd
import statsmodels.api as sm

Como explicar esse modelo?

## Desafio : Regressão multipla

### Agora vamos ver se a escolaridade afeta o salário dos indivíduos.

Inicialmente, faça o Ordinal Encoder da variável escolaridade. Analise as novas variáveis geradas no seu dataframe.

A ordem que queremos ( de 0 a 7) é "ATE 5.A INC'", "5.A CO FUND", "6. A 9. FUND","FUND COMPL","MEDIO INCOMP'","MEDIO COMPL","SUP. INCOMP", "SUP. COMP"

### Agora, analise a correlação das variáveis (continuas) com a nova variável criada e crie uma regressão multipla, para tentar analisar se o salário pode ser explicado pelo tempo de emprego e pela escolaridade.

Analise os coeficientes da regressão, seu R-squared, p-value e demais elementos estudados na aula.
Como você poderia melhorar esse modelo?