# No exercício da aula sobre Análise de Dados em Alto Desempenho, criamos um dataframe com informações de mulheres, trabalhadoras do mercado formal de trabalho, que utilizaremos nessa aula.

In [2]:
import pandas as pd
url= ('https://github.com/thaissalzer/thaissalzer/blob/9f8739186278cd535fcff5a8f75c3322ec506cfc/mulheres.xlsx?raw=true')
df= pd.read_excel(url)

In [3]:
df.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000

# Quantas trabalhadoras temos por Unidade Federativa?

# O pesquisador pode estar interessado em saber se as Unidades da Federação (UF) que possuem maior PIB per capta tendem a pagar maiores salários.

Crie um dataframe de nome 'estados' com as colunas de nome da UF('uf') e pib per capita de cada UF ('PIBPC_estado'), conforme dados abaixo

Informações de PIB per capita por estado em 2008:

fonte: https://biblioteca.ibge.gov.br/visualizacao/livros/liv46710.pdf

- uf   /  PIBPC_estado


- SP         24456
- MG         14232
- RJ         21621
- RS         18378
- PR         16927
- BA         8378
- CE         7111
- SC         20368
- PE         8064
- GO         12878
- DF         45977
- PA         7992
- MA         6103
- PB         6865
- PI         5372
- ES         20230
- RN         8202
- AL         6227
- AM         14014
- SE         9778
- MS         14188
- MT         17927
- AC         9896
- TO         10223
- RO         11976
- AP         11032
- RR         11844

# Faça a combinação do dataframe "df" (com informações das trabalhadoras) com o dataframe "estados", de forma que para cada observação referente a uma trabalhadora seja acrescentada a informação de PIB per capta do estado que ela trabalha. Utilize o método how='inner'.

A chave para combinação é a variável uf.

# Nesse caso, faria diferença usar o Left Outer Join ou o Right Outer Join ou o Outer Join?

# Crie um novo dataframe de nome 'amostra' com uma amostra aleatória sem reposição de 20 mulheres do dataframe df

# Faça a combinação do dataframe amostra com o dataframe estados, de forma que para cada observação referente a uma trabalhadora seja acrescentada a informação de PIB per capta do estado que ela trabalha.


Qual tipo de merge você deve usar dessa vez?

O que acontece se você utilizar o Outer Join?