# Agrega√ß√£o dos Dados üéí üé≤

## Sum√°rio da Aula

<ul>
    <li>Aspectos de GroupBy üéí</li>
    <li>Dividir ‚ûó para Conquistar ‚ûï (apply)</li>
</ul>

### Biblioteca Principal üìö: pandas

<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="100" style="float: right;">

In [1]:
import pandas as pd

## Aspectos de GroupBy üéí

<ul>
    <li>As opera√ß√µes de limpar, preparar e tratar s√£o poss√≠veis em bancos de dados relacionais. Por que aprendemos aqui?</li>
    <ul>
        <li>A principal vantagem de fazer essas etapas com Python üêç e Pandas üêº:
            <ul>
                <li>A expressividade de linguagem de programa√ß√£o permite executar opera√ß√µes mais complexas!</li>
            </ul>
        </li>
        <li>Veremos hoje o momento em que a expressividade apresenta seus maiores ganhos.</li>
    </ul>
    <li>Em um fluxo de trabalho de an√°lise de dados, frequentemente √© essencial:
        <ul>
            <li>dividir seus dados em grupos separados; aplicar uma fun√ß√£o em cada um dos grupos; e juntar os resultados.</li>     
        </ul>
    </li>
</ul>

üëâ Refer√™ncia: <a href='https://pandas.pydata.org/docs/user_guide/groupby.html'>pandas.pydata.org</a>

<ul>
    <li>O termo separar-aplicar-combinar (<i>split-apply-combine</i>) descreve opera√ß√µes em grupo.</li>
    <ol>
        <li>Os dados contidos em um objeto do pandas s√£o separados (<i>split</i>) em grupos (com base em chaves especificadas);</li>
        <ul>
            <li>
                A separa√ß√£o pode ser feita tanto pelo √≠ndice (<i>axis='index'</i>), quanto pela coluna (<i>axis='columns'</i>)
            </li>
        </ul>
        <li>Posteriormente, uma fun√ß√£o √© aplicada (<i>apply</i>) em cada grupo, gerando um novo valor; e</li>
        <li>Por fim, os resultados s√£o combinados (<i>combine</i>), fomando um objeto resultante.</li>
    </ol>
</ul>

<img src="https://wesmckinney.com/book/images/pda3_1001.png" width='300' style="margin-left: auto; margin-right: auto;">

<pre>Vamos...

<b>separar-</b> <i>chave1</i> em grupos...

<b>-aplicar-</b> a üö® m√©dia üö® em <i>dados1</i> e...

<b>-combinar</b> os resultados</pre>

In [2]:
df = pd.DataFrame({"chave1" : ["a", "a", None, "b", "b", "a", None],
                   "chave2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                   "dados1" : [-0.204708, 0.478943, -0.519439, -0.555730, 1.965781, 1.393406, 0.092908],
                   "dados2" : [0.281746, 0.769023, 1.246435, 1.007189, -1.296221, 0.274992, 0.228913]})
df

  chave1  chave2    dados1    dados2
0      a       1 -0.204708  0.281746
1      a       2  0.478943  0.769023
2   None       1 -0.519439  1.246435
3      b       2 -0.555730  1.007189
4      b       1  1.965781 -1.296221
5      a    <NA>  1.393406  0.274992
6   None       1  0.092908  0.228913

üëâ 1) Separar

In [3]:
grouped = df[['dados1']].groupby(df['chave1'])
grouped

üëâ 2) Aplicar e 3) Combinar

In [4]:
grouped.mean()

          dados1
chave1
a       0.555880
b       0.705026

<pre>Vamos...

<b>separar-</b> o par <i>(chave1, chave2)</i> em grupos...

<b>-aplicar-</b> a üö® m√©dia üö® em <i>dados1</i> e...

<b>-combinar</b> os resultados</pre>

üëâ 1) Separar

In [5]:
grouped = df[['dados1']].groupby([df['chave1'], df['chave2']])
grouped

üëâ 2) Aplicar e 3) Combinar

In [6]:
grouped.mean()

                 dados1
chave1 chave2
a      1      -0.204708
       2       0.478943
b      1       1.965781
       2      -0.555730

<pre>Vamos...

<b>separar-</b> <i>chave1</i> em grupos...

<b>-aplicar-</b> a üö® m√©dia üö® em todas as colunas e...

<b>-combinar</b> os resultados</pre>

üëâ Separar-aplicar-combinar

In [7]:
df.groupby('chave1').mean()

        chave2    dados1    dados2
chave1
a          1.5  0.555880  0.441920
b          1.5  0.705026 -0.144516

<pre>Vamos...

<b>separar-</b> o par <i>(chave1, chave2)</i> em grupos...

<b>-aplicar-</b> a üö® m√©dia üö® em todas as colunas e...

<b>-combinar</b> os resultados</pre>

üëâ Separar-aplicar-combinar

In [8]:
df.groupby(['chave1', 'chave2']).mean()

                 dados1    dados2
chave1 chave2
a      1      -0.204708  0.281746
       2       0.478943  0.769023
b      1       1.965781 -1.296221
       2      -0.555730  1.007189

üëâ dica: caso esteja aplicando uma m√©trica para atributos num√©ricos, os atributos n√£o num√©ricos s√£o exclu√≠dos do resultado

In [9]:
df.groupby(['chave2']).mean(numeric_only=True)

          dados1    dados2
chave2
1       0.333636  0.115218
2      -0.038393  0.888106

üëâ mais dica: uma m√©trica muito √∫til √© a m√©trica <i>size</i>, que computa os tamanhos dos grupos

In [10]:
df.groupby(['chave1', 'chave2'], dropna=False).size()

chave1  chave2
a       1         1
        2         1
        <NA>      1
b       1         1
        2         1
NaN     1         2
dtype: int64

### Quadro-resumo das m√©tricas para o üö® -aplicar- üö®

<table>
    <tr><th>M√©trica</th><th>Descri√ß√£o</th></tr>
    <tr><td>any, all</td><td>Retorna True se algum (respectivamente todos os valores) n√£o-NA forem verdadeiros</td></tr>
    <tr><td>count</td><td>N√∫mero de valores n√£o-NA</td></tr>
    <tr><td>cummin, cummax</td><td>M√≠nimo cumulativo (respectivamente m√°ximo cumulativo) de valores n√£o-NA</td></tr>
    <tr><td>cumsum</td><td>Soma cumulativa de valores n√£o-NA</td></tr>
    <tr><td>cumprod</td><td>Produto cumulativo de valores n√£o-NA</td></tr>
    <tr><td>first, last</td><td>Primeiro (respectivamente √∫ltimo) valores n√£o NA</td></tr>
    <tr><td>mean</td><td>M√©dia de valores n√£o-NA</td></tr>
    <tr><td>median</td><td>Mediana de valores n√£o-NA</td></tr>
    <tr><td>min, max</td><td>M√≠nimo (respectivamente m√°ximo) de valores n√£o-NA</td></tr>
    <tr><td>nth</td><td>Recupera o valor que apareceria na posi√ß√£o n com os dados ordenados</td></tr>
    <tr><td>ohlc</td><td>Calcula quatro estat√≠sticas ‚Äúabrir-alto-baixo-fechar‚Äù para dados semelhantes a s√©ries temporais</td></tr>
    <tr><td>prod</td><td>Produto de valores n√£o-NA</td></tr>
    <tr><td>quantil</td><td>Calcula o quantil da amostra</td></tr>
    <tr><td>prod</td><td>Produto de valores n√£o-NA</td></tr>
    <tr><td>rank</td><td>Rank de valores n√£o-NA</td></tr>
    <tr><td>size</td><td>Computa tamanhos de grupo, retornando o resultado como uma s√©rie</td></tr>
    <tr><td>sum</td><td>Soma de valores n√£o-NA</td></tr>
    <tr><td>std, var</td><td>Desvio padr√£o (respectivamente vari√¢ncia) da amostra</td></tr>
</table>

<pre>üçí üéÇ Voc√™ pode tamb√©m aplicar mais de uma m√©trica ao mesmo tempo, ...</pre>

In [11]:
df.groupby('chave1').agg(['count', 'first', 'last', 'mean', 'median'])

       chave2                        dados1                                \
        count first last mean median  count     first      last      mean
chave1
a           2     1    2  1.5    1.5      3 -0.204708  1.393406  0.555880
b           2     2    1  1.5    1.5      2 -0.555730  1.965781  0.705026

                 dados2
          median  count     first      last      mean    median
chave1
a       0.478943      3  0.281746  0.274992  0.441920  0.281746
b       0.705026      2  1.007189 -1.296221 -0.144516 -0.144516

<pre>... bem como escolher as colunas em que deseja aplicar cada m√©trica</pre>

In [12]:
df.groupby('chave1').agg({'chave2': 'count', 'dados1': ['first', 'last'], 'dados2': ['mean', 'median']})

       chave2    dados1              dados2
        count     first      last      mean    median
chave1
a           2 -0.204708  1.393406  0.441920  0.281746
b           2 -0.555730  1.965781 -0.144516 -0.144516

üëâ dica: se acostume com uma nota√ß√£o para n√£o se confundir. a √∫ltima nota√ß√£o √© recomend√°vel.

## Dividir ‚ûó para Conquistar ‚ûï (apply)

<ul>
    <li>O m√©todo apply √© um m√©todo GroupBy de prop√≥sito-geral para a etapa de <b>-aplicar-</b></li>
    <li>Impressionantemente, √© um m√©todo que existe tanto para agrupamentos, quanto para dados n√£o agrupados</li>
    <li>A desvantagem do m√©todo apply √© que os m√©todos n√£o s√£o otimizados comos os m√©todos do quadro-resumo</li>
</ul>

<pre>Voc√™ pode aplicar o apply em dados n√£o agregados a cada coluna, ...</pre>

In [13]:
df[['dados1', 'dados2']].apply(lambda coluna: coluna.iloc[0]**2, axis='index')

dados1    0.041905
dados2    0.079381
dtype: float64

<pre>... voc√™ pode aplicar o apply em dados n√£o agregados a cada linha, ...</pre>

In [14]:
df[['dados1', 'dados2']].apply(lambda linha: linha.iloc[0]**2, axis='columns')

0    0.041905
1    0.229386
2    0.269817
3    0.308836
4    3.864295
5    1.941580
6    0.008632
dtype: float64

<pre>... bem como voc√™ pode aplicar em dados agregados a cada agrupamento</pre>

In [15]:
df[['dados1', 'dados2']].groupby(df['chave1']).apply(lambda grupo: grupo.iloc[0]**2)

          dados1    dados2
chave1
a       0.041905  0.079381
b       0.308836  1.014430

<pre>O m√©todo apply tem papel fundamental. 

Voc√™ consegue fazer <b>qualquer</b> opera√ß√£o com dados agrupados.

Opera√ß√µes muito mais complexas em Python üêç e Pandas üêº vs. Banco de Dados üè¶ üé≤</pre>

<font size=7><center><code>Executem todo este caderno...</code></center></font>

<font size=7><center><code>... bem como o caderno Juntando as Pe√ßas</code></center></font>