# Exercícios: Agregação de Dados

### Indicadores Criminais do Rio Grande do Sul

#### Carga da Base de Dados Indicadores Criminais do Rio Grande do Sul

In [33]:
import pandas as pd
from pandas import DataFrame

arquivo = './data/df_crimesRS.json'

df_crimes = pd.read_json(arquivo)
df_crimes = df_crimes.drop(columns=['index','Total de vítimas de Homicidio Doloso','Vítimas de Latrocínio'])
df_crimes.head()

,Municípios,Homicídio Doloso,Latrocínio,Furtos,Abigeato*,Furto de Veículo,Roubos,Roubo de Veículo,Estelionato,Delitos Relacionados à Armas e Munições,Entorpecentes - Posse,Entorpecentes - Tráfico,Vítimas de Lesão Corp. Seg. Morte,ano
0,ACEGUA,1,0,65,18,1,5,1,4,2,0,0,0,2018
1,AGUA SANTA,0,0,31,3,3,0,2,2,1,0,1,0,2018
2,AGUDO,2,0,123,11,1,5,0,19,13,14,15,0,2018
3,AJURICABA,1,0,58,5,2,0,0,8,8,3,1,0,2018
4,ALECRIM,1,0,85,19,1,3,0,8,15,7,9,0,2018

#### Agregação: Qualidade dos Dados

A função groupby() permite agrupar os dados de diversas formas de maneira simples independentemente do formato largo ou longo dos dados.<br>
Elas podem ser muito úteis na hora de verificar a copletude da base, por meio da contagem de dados.<br>
Se necessário, consulte a documentação do método groupby(), no endereço: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

Utilizando groupby, gere um DataFrame contendo o nome do município e a contagem de anos presentes na base.<br>
Utilize, em seguida, o método describe para verificar se há dados para todos os municípios referente aos período de 2022-2012.<br>

Municípios
ACEGUA        11
AGUA SANTA    11
AGUDO         11
AJURICABA     11
ALECRIM       11
Name: ano, dtype: int64

Liste os municípios que possuem menos de 11 registros presentes na base de dados.

Municípios
SANTA TEREZA    9
SANTA tereza    2
Name: ano, dtype: int64

Corrija os dados no DataFrame original e verifique o resultado por meio da função de agrupamento.

Series([], Name: ano, dtype: int64)

#### Agregações - Crimes no RS

Utilizando a função groupby(), gere um DataFrame com a quantidade de cada crime nos municípios em todo o período.<br>
Certifique-se de eliminar a coluna 'ano' do resultado.
Compare com o procedimento utilizado no exercío da aula 09, Tramento de Dados.

,Homicídio Doloso,Latrocínio,Furtos,Abigeato*,Furto de Veículo,Roubos,Roubo de Veículo,Estelionato,Delitos Relacionados à Armas e Munições,Entorpecentes - Posse,Entorpecentes - Tráfico,Vítimas de Lesão Corp. Seg. Morte
Municípios,,,,,,,,,,,,
ACEGUA,5,0,537,232,10,16,3,82,30,3,0,0
AGUA SANTA,2,0,384,64,33,30,8,56,35,2,4,0
AGUDO,11,1,1458,92,37,68,2,293,78,64,80,0
AJURICABA,2,0,475,32,21,10,2,106,52,42,10,1
ALECRIM,9,0,746,155,11,13,1,82,76,43,26,0

Vamos verificar se o comportamento observado na quantidade de crimes de estelionato, furto e roubo de veículos em Porto Alegre se repete em todo o Estado.<br>
Primeiro, agrupe os dados por ano e realize a soma para todos os municípios.

A partir do DataFrame agrupado, gere um novo gráfico de linha com as quantidades anuais dos crimes de estelionato, furto e roubo de veículos.<br>
Compare com o gráfico gerado no exercício anterior para a Cidade de Porto Alegre.

#### Agregações - Crimes por Região do RS

Ao invés de comparar municípios, pode fazer sentido avaliar os índices de criminalidade por unidades geográficas maiores, como as regiões imeditas, definidas pelo IBGE para com objetivo agrupar municípios vizinhos que possuam uma integração socioeconômica e funcional mais próxima, facilitando assim a análise de dados e a compreensão da dinâmica regional.
Para isso, vamos fazer a junção do DataFrame df_crimes com uma tabela de definição de regiões e agrupar os dados pelas regiões.

##### <<< Desafio Opcional  - Obtenção dos Dados das Regiões>>>

O IBGE disponibiliza os dados de municípios e suas microrregiões e regiões imediatas do RS por meio de uma API no endereço<br>
https://servicodados.ibge.gov.br/api/v1/localidades/estados/43/municipios<br>
Utilizando a função request.get(), obtenha os dados e prepare-os de forma a possibilitar a junção dos mesmos com a DataFrame df_crimes.<br>
Dica: utilize a função limpa_texto() do exercício da aula do dia 09.

##### Carga e Junção de Dados

Caso não tenha realizado o desafio opcional, carregue os dados das regiões do RS com o comando abaixo:

In [ ]:
df_rs = pd.read_json('./data/df_rs_regioes.json')

Faca a junção da tabela de crimes com a tabela de microregião.

##### Agregação: Crimes x Região-Intermediária

Finalmente, utilizando a função groupby(), calcule a quantidade de crime por região-itermediária.
Liste as 5 regiões-imediadas com o maior número de homicídios dolosos.

Faça um gráfico de pizza para mostrar como estão distribuídos os homicídios nas 10 maiores regiões-imediatas do Rio Grande do Sul.

##### População Por Região

Leia o arquivo './data/pop_rs.json' e, por meio de uma junção com o DataFrame df_rs através das colunas "Código" e "id", calcule a população em 2022 de cada região-intermediária do RS.

##### Taxa de Homicídio Por Região

Por fim, utilize os dados populacionais para calcular a taxa de homicídio/100.000 habitantes por região, levando em conta a população de 2022.<br>
Exiba a taxa para cada região em um gráfico de barras horizontal, ordenado por taxa de homicídio.

##### Regressão Linear: Taxa de Homicídios x População

Inicialmente, plote dois gráficos de dispersão das variáveis população e taxa de homicídio utilizando o método lmplot do Seaborn, o primeiro com os dados completos e o segundo excluindo a região de Porto Alegre.

Utilizando o módulo statsmodels, faça uma regressão linear para avaliar o possível efeito do tamanho da população na taxa de homicídios nas regiões do RS.

Execute novamente a regressaão, excluindo a região de Porto Alegre, e compare os resultados.

### Preços Combustíveis

#### Carga da Base de Dados Combustíveis

In [120]:
df_combustiveis = pd.read_csv('./data/precos-gasolina-etanol-01.csv',sep=';')
df_combustiveis.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,COMERCIAL DE COMBUSTIVEIS E LUBRIFICANTES VITA...,02.817.655/0001-82,RODOVIA AL 220 - KM 06,S/N,NaN,PLANALTO,57308-000,ETANOL,02/01/2023,"3,89",NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,COMERCIAL DE COMBUSTIVEIS E LUBRIFICANTES VITA...,02.817.655/0001-82,RODOVIA AL 220 - KM 06,S/N,NaN,PLANALTO,57308-000,GASOLINA ADITIVADA,02/01/2023,"5,14",NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,COMERCIAL DE COMBUSTIVEIS E LUBRIFICANTES VITA...,02.817.655/0001-82,RODOVIA AL 220 - KM 06,S/N,NaN,PLANALTO,57308-000,GASOLINA,02/01/2023,"5,14",NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,AUTO POSTO SAO FRANCISCO LTDA,12.706.529/0001-04,RUA SAO FRANCISCO,274,NaN,CENTRO,57300-080,ETANOL,02/01/2023,"3,79",NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,AUTO POSTO SAO FRANCISCO LTDA,12.706.529/0001-04,RUA SAO FRANCISCO,274,NaN,CENTRO,57300-080,GASOLINA,02/01/2023,"5,29",NaN,R$ / litro,VIBRA ENERGIA

Utilize a função groupby() para contar quantos municípios por Unidade da Federação estão presentes na base.

Utilize a função groupby() para calcular os preços máximo, médio e mínimo do valor de venda gasolina não aditivada por Unidade da Federação:

Utilize a função groupby() para calcular os preços máximo, médio e mínimo do valor de venda gasolina nos diferentes bairros do Distrito Federal.
Imprima os 5 bairros com os menores preços.